body {
    width: 400px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
}

.text-right {
    padding-left: 10px;
    padding-right: 7px;
    text-align: left;
}

.change-button {
    cursor: pointer;
}

.item-container {
    margin: 20px 0 30px 0;
    text-align: center;
    align-content: center;
}
.horizontal-box {
    display: flex;
    flex-direction: row;
}

#app {
    display: none;
}

#divider1 {
    display: none;
}

#plus-button {
    color: black;
}

#minus-button {
    color: black;
}
.score {
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.divider {
    height: 2px;
    background-color: grey;
    text-align: center;
    align-content: center;
}

h3 {
    margin-bottom: 20px;
}
